@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap');


#root {
  margin: 0 auto;
  display:flex;
}
.Jacques-Francois {
  font-family: 'Jacques Francois', serif;
}
.Manrope {
  font-family: 'Manrope', sans-serif;
}
.Navbar-content{
  font-family: 'Manrope', sans-serif;
  color: black;
  padding-left: 1rem;
  padding-bottom: 0.5rem;
  padding-right: 0.75rem;
}
.Section-card{
  border: 0.5px solid;
  border-radius: 0.25rem;
  border-color: black;
}








.logo {
  height: 6em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
