@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap');



.Jacques-Francois {
  font-family: 'Jacques Francois', serif;
}
.Manrope {
  font-family: 'Manrope', sans-serif;
}
.Navbar-content{
  font-family: 'Manrope', sans-serif;
  color: black;
  padding-left: 1rem;
  padding-bottom: 0.5rem;
  padding-right: 0.75rem;
}
.Section-card{
  border: 0.5px solid;
  border-radius: 0.25rem;
  border-color: black;
}
.logo {
  height: 6em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

/* Loading screen animation styles */
.dots-1, .dots-2, .dots-3 {
  animation: fade 1.4s infinite;
}

.dots-2 {
  animation-delay: 0.2s;
}

.dots-3 {
  animation-delay: 0.4s;
}
.spin-slow {
  animation: logo-spin 3s linear infinite;
}

@keyframes fade {
  0%, 100% { opacity: 0; }
  50% { opacity: 1; }
}

/* Idk */
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
