@import "tailwindcss";

@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

@theme{
  --color-navbar-color: #E8F5E9 ;
  --color-support-icon-color: #B6F2D0 ;
} /*Theme is added here in global css file, instead of tailwind config like it was used to in prev version */

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Font Size Classes */
html.font-size-small {
  font-size: 14px; /* Small */
}

html.font-size-medium {
  font-size: 16px; /* Default/Medium */
}

html.font-size-large {
  font-size: 18px; /* Large */
}
