@import "tailwindcss";

@theme{
  --color-navbar-color: #E8F5E9
  --color-support-icon-color: #B6F2D0 
} /*Theme is added here in global css file, instead of tailwind config like it was used to in prev version */

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
